body.guest{background:#f9f9f9 url(/wemoocdemo-theme/images/custom/color_schemes/guest/bg_body.png) 0 -39px repeat-x;}
body.guest.dockbar-ready{background:#f9f9f9 url(/wemoocdemo-theme/images/custom/color_schemes/guest/bg_body.png) 0 -9px repeat-x;}
.guest #content{background-color:#fff;}
body.guest.portal-popup{
	background:none #fff; 
}
.guest #navigation_table_column2{float:left;}

.guest .title_arrow .portlet-title{margin-bottom:0;background:url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat scroll 0% 50% transparent;}
.guest .title_arrow .portlet-title .portlet-title-text{padding-left:25px;}
