.pop_up_scheme.css{}
html body.pop_up_scheme.css{background:#fff;padding-top:10px;padding-bottom:0;margin-bottom:0;}
body.pop_up_scheme.css .conteiner_bg{background:none;padding:20px;}
body.pop_up_scheme.css #wrapper{width:90%;padding:0;}
body.pop_up_scheme.css #content{width:99%;padding:0;}
body.pop_up_scheme.css #navigation_sup{display:none;}
body.pop_up_scheme.css #banner{display:none;}
body.pop_up_scheme.css #footer{display:none;}
body.pop_up_scheme.css #barra_foot{display:none;}
body.pop_up_scheme.css .ico_feedback{display:none;}
body.pop_up_scheme.css .socialportlet20-portlet{display:none;}

body.pop_up_scheme.css .aui-fieldset-legend{font-size:1em;display:block;width:100%;}
body.pop_up_scheme.css .aui-legend{position:relative;padding-top:10px;font:600 2em Nunito, Tahoma, Verdana;border-top:1px solid #2d2849;border-bottom:0 none;color:#00b5cb;}
body.pop_up_scheme.css .aui-fieldset-content em.description{padding-bottom:10px;display:block;border-bottom:1px solid #2d2849;font:600 1.6em Nunito, Tahoma, Verdana;color:#00b5cc;}
body.pop_up_scheme.css .aui-fieldset-content .aui-field-label{font:600 1.4em Nunito, Tahoma, Verdana;color:#00b5cc;}
body.pop_up_scheme.css .aui-fieldset-content .aui-button-submit{display:block;text-align:right;}
body.pop_up_scheme.css .aui-fieldset-content .aui-button-submit input{margin-right:10px;}
body.pop_up_scheme.css .aui-field-input{width:99%;}
body.pop_up_scheme.css textarea.aui-field-input{height:50px;}

body.pop_up_scheme.css iframe{border:0 none;}
body.pop_up_scheme.css iframe html{overflow:auto;}