@mixin input-field-default {
	border: 1px solid #d5d5d5;
	font:300 14px Arial;
	padding: 10px;
	color:#2d2849;
}

@mixin input-field-focus {
	background: #fff none;
	border-color: #2d2849;
}

@mixin button-default {
	background: #37aebd;
	border:0 none;
	color: #fff;
	cursor: pointer;
	overflow: visible;
	padding: 8px 35px;
	width: auto;
	font:300 16px Nunito, Arial;
}

@mixin button-default2 {
	background: #104b7d;
	border:0 none;
	color: #fff;
	cursor: pointer;
	overflow: visible;
	padding: 8px 35px;
	width: auto;
	font:300 16px Nunito, Arial;
}

@mixin button-disabled {
	background: #37aebd;
	border:0 none;
	color: #fff;
	opacity: 0.5;
}

@mixin button-hover {
	background: #45c3d3;
	border:0 none;
	color: #fff;
}
@mixin button-hover2 {
	background: #1963a1;
	border:0 none;
	color: #fff;
}

@mixin button-focus {
	background: #1963a1;
	border:0 none;
}