@import "compass";

/* Menu de la comunidad */

#nav_and_out{position:relative;z-index:100}

#navigation {
	width: 100%;
	margin:auto;
	margin-top: 0;
	padding:0;
    color: #fff;
    text-align:right;
}

#navigation ul {
	font-family: Nunito, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	margin:0px;
}

#navigation ul li{
	font:600 16px Nunito, Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	list-style-type:none;
	display:inline-block;
	padding:0 5px;
	border-right:#00b5cb solid 2px;
}

#navigation .child-menu{
	float: none;
	position:absolute;
	white-space: nowrap;
	left: 10px;
	top: 24px;
}

#navigation .child-menu li{ 
	display: none;
	background-image: url(/wemoocdemo-theme/images/custom/bg_menu_bar.jpg);
    background-repeat: repeat-x;
    padding: 0 0 2px 0;
    margin: 0;    
    border: none;
    position: relative;
 
}

#navigation .child-menu li a {
    cursor: pointer !important;
    font-size: 12px;
}

.portlet-icon-back {
	background: url(/wemoocdemo-theme/images/custom/blue_arrow_left.gif) no-repeat 0px 50%;
	font-weight: bold;
	font-size:1.2em;
	padding:5px 10px 5px 11px;
	color:#00b5cb;
	text-decoration:none;
}
.portlet-icon-back:hover {color:#1ed1e7;}
.portlet-title{
	display: inline;
	float:left;
	overflow: visible;
	width: 100%;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:10px;
	color:#2d2849;
	border-bottom:#2d2849 solid 1px;
}
/* GLOBALES  PORTLET */