<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	#if($page_group.name=="Guest")
		<title>Wemooc</title>
	#else
		<title>Wemooc: $page_group.getName()</title>
	#end
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" /> <!-- IE8 mode -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	#if($page_group.name=="Guest")
		<meta name="description" content="wemooc" />
		<meta property="og:title" content="wemooc" />
		#else
		<meta name="description" content="$page_group.getName()" />
		<meta property="og:title" content="$page_group.getName()" />
	#end
	<meta property="og:type" content="website" />
	<script type="text/javascript" src="$javascript_folder/custom/jquery.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="$javascript_folder/custom/jquery-ui.min.js" charset="utf-8"></script>
	$theme.include($top_head_include)
</head>
<body class="$css_class">
	#if($permissionChecker.isOmniadmin() || $permissionChecker.isCompanyAdmin($company_id) || (!$page_group.isUser() && $permissionChecker.isCommunityAdmin($group_id)) )
		#dockbar()
	#end
<div class="bg_container">
<!-- CONTENIDO -->
<div id="navigation_sup">
	<div class="navigation-row">
		<div class="floatr">
			#if($is_signed_in)
				#if($user_name.length()>26)
					#set($user_name = $user_name.substring(0,23) + "...")
				#end 
					<span id="userName">$user_name</span>
					<span id="separator_name">&nbsp;</span>
					<span id="bt_out">&nbsp;<a id="sign-in" href="$sign_out_url">$sign_out_text</a></span>
			#else
				<span id="bt_out"><a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a></span>
			#end
		</div>
    </div>
</div>
<div id="wrapper">
	<header id="banner" role="banner">
		<div id="nav_and_out">
			<div class="clearfix header_sec2">
				<div class="floatl">
					<a id="enlace_logo" style="background-image:url('/image/layout_set_logo?img_id=$company.getLogoId()');" href="/web/guest/home"><div></div></a>
				</div>
		</div>
		#if ($has_navigation)
			<div id="title_and_nav">
				#parse ("$full_templates_path/navigation.vm")
			</div>
		#end
	</header>
	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()
			$portletDisplay.setTitle($the_title)
			$theme.wrapPortlet("portlet.vm", $content_include)
		#end

	</div>

	
</div>

</div>
<!-- PIE -->
<footer id="footer" role="contentinfo">
	<div class="powered-by">
		<ul class="floatl">
			<li class="last"><span>&copy; Copyright 2013 Wemooc</span></li>
		</ul>
		<a href="http://www.telefonicalearningservices.com" target="_blank" class="floatr"><img src="/wemoocdemo-theme/images/custom/logo_tls.png" /></a>
	</div>
</footer>
	
<!-- FIN PIE -->
<!-- FIN CONTENIDO -->

</body>
<!-- Este pie le incluye por defecto liferay, pongo un display a none para que no sea visible -->
$theme.include($bottom_include)
</html>
