/* BLOGS */
.portlet-blogs{background-color:#FFF;}
.portlet-blogs .lfr-meta-actions.edit-actions,
.portlet-blogs .entry-navigation{display: none;}

.portlet-blogs .aui-search-bar{display:block;clear:right;padding-bottom:10px;}

.portlet-blogs .subscribe{display:none;}
/* .portlet-blogs .aui-field-assettags, .portlet-blogs .aui-field.aui-field-choice {display: none;} */
/* .portlet-blogs .aui-field-assetcategories {display: none !important;} */

.portlet-blogs .subscribe {display: none;}
/* BIBLIOTECA */
#portlet_20 #aui_3_2_0_11166{
	display:none;
}
#portlet_20 .jnpk_-webdav-action{
	display:none;
}
#portlet_20 .waho_-webdav-action{
	display:none;
}

#portlet_20 .top-links-navigation,
#portlet_20 .aui-column-content  .aui-column-content-last .lfr-asset-column-content .lfr-asset-column-actions-content,
#portlet_20 .lfr-asset-summary, .portlet-wiki .top-links{padding-bottom:0;}
.portlet-blogs .taglib-header  {
    padding: 0 5px;
    margin: 0 0 -2px -15px;
   	border:0;
   	background-color:#FFF;
   	width:100%;
}
.portlet-blogs .taglib-header h1 {
	font-size: 20px;
}
.portlet-blogs .taglib-header span  {
	color:#000;
}
/*desde aqu�*/
.portlet-blogs .lista_blogs {
	overflow: hidden;
	padding-bottom: 10px;
}
.portlet-blogs .lista_blogs .limpio{
	width: 298px;
	height: 80px;
	float: left;
	clear: none !important;
	border: solid 1px #CCC;
	padding: 2px;
}
.portlet-blogs .lista_blogs .limpio div {
	padding: 1px 0;
}
/*hasta aqu�*/
.portlet-blogs .entry  {
	clear: left !important;
	display: block;
	overflow: hidden;
	padding-top:10px;
	padding-bottom:5px;
	width:100%;
	background-color: #FFF;
	float: left;
	font-size:16px;
	border-bottom:#2d2849 solid 1px;
}
.portlet-blogs .entry .entry{border-bottom:0 none;} 
.portlet-blogs .entry-content{overflow: hidden;}
.portlet-blogs .entry-content .entry-title{float: left;}
.portlet-blogs .entry-content .entry-date {
	float: Left;
	padding-bottom: 6px;
	font-size: 16px;
  	font-weight: normal;
  	margin-bottom: 4px; 
  	color:#000;
  	background:#FFF;
  	padding-top:3px;
  	padding-left:5px;
}
.portlet-blogs .entry-body{
	clear:left;
	text-align: justify;
	overflow: hidden;
	font-size:16px;
}
.portlet-blogs .entry-body a{
	font-weight: bold;
}
.portlet-blogs .entry-body ol{
	padding-left:2em;
}

.portlet-blogs .taglib-user-display .user-name {
	font-weight: bold;
	font-style: italic;
}
.portlet-blogs .separator {
	margin: 0;
	padding: 10px 0 10px 0;
	border-top:0 none;	
}
.portlet-blogs .separator2 {
	margin: 5px 0 5px 0;
	padding:  0;
	background-color:#FFF;
	height:1px;	
}
.portlet-blogs .lfr-panel-content {
	margin: 0;
	padding: 10px 0 10px 0;
}
.portlet-blogs .header-title span {
	color: #000;	
}
.portlet-blogs .aui-rating-label-element {
	float:left;
	padding-right:5px;
	display:block;
}
.portlet-blogs .entry-author {
	font-family:Nunito; 
	font-size: 1.1em; 
	font-weight: bold; 
	color: #00b5cc;
	background-color:#FFF;
	margin-left:-20px;
	margin-bottom:4px;
	padding-right:0px;
	margin-right:0px;
	border:0;
}
.portlet-blogs .stats {
	font-family:Nunito;
	font-size: 1.1em;
	color: #000;
}
.portlet-blogs .taglib-page-iterator .search-results {        
    left: 40%;
    padding-bottom:10px;
    position: relative;
    font-weight: bold;
    display:none;
}
.portlet-blogs .taglib-page-iterator{
	clear: both;
}
.portlet-blogs .page-links { 
    clear:both;
    width:100%;
    left: 10%;
    font-weight: bold;
    padding-top:5px;
    padding-left:0;
    text-align:center;
    
}

.portlet-blogs .search-pages{
	background-color:#FFF;
	width:100%;
}
.portlet-blogs .delta-selector{
	padding-left:10px;
}

/*New estilos Blogs*/

.portlet-blogs .lfr-meta-actions.edit-actions {
	display: block;
	margin-top:-20px;
	height:15px;
	padding-left: 15px;
}
.portlet-blogs .taglib-header .header-back-to a{padding: 0px;}
.portlet-blogs .taglib-flags{font-family:Nunito; font-weight:600;border:0;}
.portlet-blogs #ykmt_socialBookmarks{display: none; }
.portlet-blogs .taglib-social-bookmarks {display:none;clear: none; float:left;padding-top:0px; width:120px; padding-left:5px; padding-right:5px;}
.portlet-blogs .taglib-social-bookmarks li{line-height:30px;}
.portlet-blogs .taglib-ratings .aui-rating-label-element{font-family:Nunito; font-size: 1.1em;}
.portlet-blogs .add-comment td {font-family:Nunito; font-size: 1.1em;}
.portlet-blogs .add-comment td a{color:#1EADC4;}
.portlet-blogs .add-comment td a:hover{font-weight: bold; text-decoration: underline; }
.portlet-blogs .add-comment td #_33_mefv:hover  { font-weight:normal; text-decoration : none;}
.portlet-blogs .add-comment .taglib-icon{
	background:#e4701e url("/wemoocdemo-theme/images/custom/bg_buttom2.jpg") repeat-x top left;
	border:#f3e7cc solid 1px; 
    color: #FFFFFF;
    text-shadow: none;
    padding: 4px 20px;    
}
.portlet-blogs .add-comment .taglib-icon .taglib-text{color: #FFFFFF; text-decoration: none;}	
.portlet-blogs .portlet-topper-toolbar .taglib-icon .icon{display:inline;}
.portlet-blogs .lfr-top.stretch {
    color: #004151;
    font-size: 1.1em;
    font-weight: bold;   
}
.portlet-blogs .lfr-top.stretch a {color: #004151;}
.portlet-blogs .lfr-top.stretch a:hover {text-decoration:underline;}
.portlet-blogs .lfr-top.stretch div:first-child {
    font-weight: normal;
    /*padding-top: 8px;*/   
}
.portlet-blogs .taglib-icon .taglib-text {
    text-decoration: none;
    font-weight:600;
}

.portlet-blogs .taglib-user-display .user-details .user-name {
	font-family:Nunito;
	font-size: 1.1em;
	font-weight: bold; 
	color: #004151;
}
.portlet-blogs .portlet-toolbar.search-form {
	color: #FFF;
	margin-right:5px;
	margin-top:5px;
	position:relative;
	z-index:1000;
	width:100%;
	text-align:right;
	
}
.portlet-blogs .search-title {
	font-family: Nunito, Tahoma, Verdana, Arial;
	font-size:18px;
	color: #FFF;
	font-weight: bold;
}
.portlet-blogs .view-count{color:#00b5cc;}	
.portlet-blogs .search-input {color:#CCC;}
.portlet-blogs .search-button {
	padding-top: 5px;
	float: right;	
}	
.portlet-blogs .written-by {
	font-family:Nunito;
	color: #000;
	font-weight: normal;
}
.portlet-blogs .comments{
		color:#00b5cc ;
		font-weight:bold;
		border:0;
}
.portlet-blogs .comments a{
		color:#00b5cc ;
		font-weight:bold;
}
.portlet-blogs .entry-title a{color:#00b5cc;}
.portlet-blogs .lfr-panel-container{
	width:100%;
	margin-left:-15px;
	padding-left:10px;
}	
.portlet-blogs .taglib-ratings.stars{
	clear:left;
	color: #d48a0f;
	font-weight:bold;
	float:left !important;
	padding-right:8px;
	display:inline;
	position:relative;
	
}

.portlet-blogs .taglib-ratings{
	float:left;
	display:inline;
	position:relative;
}

.portlet-blogs .taglib-social-bookmarks a{
	font-weight:bold; 
	color:#d48a0f;
}
.portlet-blogs .aui-rating-label-element{
	/*border-right: 1px solid #d48a0f;
	padding-left:8px;*/
}

.portlet-blogs .search-form .aui-field-text input[type="text"]{
	width:155px;
}

.portlet-blogs .search-form .aui-button-submit input.aui-button-input-submit{
	background: url(/wemoocdemo-theme/images/custom/lupav2.png) no-repeat scroll 0 0 transparent;
	width: 54px;
	height: 40px;
	text-indent: -100000px;
	vertical-align: top;	
}

.portlet-blogs .entry-footer{
	clear:left !important;
	width:100%;
}
.portlet-blogs .opens-new-window-accessible{
	display:none;
}

.portlet-blogs .liferay-rating-vote{
	float:left;
}
.portlet-blogs .liferay-rating-score{
	float:left;
}



/*FIN - New estilos Blogs*/
#portlet_20 .results-header th {
    background: url("/wemoocdemo-theme/images/custom/betwen.gif") no-repeat scroll left top #FFFFFF;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
#portlet_20 .lfr-menu-list li a {
	background:#e4701e url("/wemoocdemo-theme/images/custom/bg_buttom2.jpg") repeat-x top left;
	border:#f3e7cc solid 1px; 
    color: #FFFFFF;
    text-shadow: none;
}    

/* #portlet_20 .lfr-menu-list li a {width:100%} */

#portlet_20 .results-row td a, #portlet_20 .results-row-hover td a {
    color: #000000;
    font-weight: normal !important;
}
#portlet_20 .taglib-page-iterator .search-results {
    font-size: 12px;
    font-weight: bold;
    left: 40%;
    padding-bottom: 10px;
    position: relative;
}
#portlet_20 ul.lfr-actions li.lfr-trigger .nobr {color:#FFF;} 
/*#portlet_20 .lfr-asset-field, */ 
#portlet_20 .lfr-asset-column-actions-content {background-color: #FFFFFF;}
#portlet_20 .lfr-asset-column-actions .lfr-asset-column-actions-content {border: 0px}
#portlet_20  .aui-w75 {width:75%}
#portlet_20  .aui-w25 {width:25%;display:block}


/* wiki */
.portlet-wiki .results-header th {
    background: url("/wemoocdemo-theme/images/custom/betwen.gif") no-repeat scroll left top #FFFFFF;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
.portlet-wiki .lfr-menu-list li a {
	background:#e4701e url("/wemoocdemo-theme/images/custom/bg_buttom2.jpg") repeat-x top left;
	border:#f3e7cc solid 1px; 
    color: #FFFFFF;
    text-shadow: none;
}
.portlet-wiki .lfr-menu-list li a {width:100%}
.portlet-wiki .results-row td a, .portlet-wiki .results-row-hover td a {
    color: #000000;
    font-weight: normal !important;
}
.portlet-wiki .taglib-page-iterator .search-results {
    font-weight: bold;
    left: 40%;
    padding-bottom: 10px;
    position: relative;
}
.portlet-wiki ul.lfr-actions li.lfr-trigger .nobr {color:#fff;} 
.portlet-wiki .child-pages h2 {
	background-color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #2d2849;
	border-top:1px solid #2d2849;
	font-size: 18px;
	color:#2d2849;
}

.portlet-wiki .child-pages ul {
    padding-left:20px;
    color:#00b1b0;
}

.portlet-wiki .child-pages li {
	font-size:1.4em;
	padding:3px 0;
}

.portlet-wiki .wiki-body {font-size:16px;}
.portlet-wiki .wiki-body .portlet-msg-info{font-size:16px;}

.portlet-wiki #ires{
	padding-left:10px;
}

#portlet_86 .portlet-icon-back{
	display:none;
}

/* wiki */
.portlet-wiki .top-links-container{margin:0;padding:0;}
.portlet-wiki .top-links{float:none;}
.portlet-wiki .top-links .top-links-navigation{float:none;display:block;clear:both;overflow:hidden;border-bottom:#2d2849 solid 1px;padding:0 0 10px;text-align:left;margin-bottom:10px;}
.portlet-wiki .top-links img.icon{display:none;}
.portlet-wiki .aui-search-bar input.aui-button-input-submit{background: url(/wemoocdemo-theme/images/custom/lupav2.png) no-repeat scroll 0 0 transparent;width: 54px;height: 40px;text-indent: -100000px;}
.portlet-wiki .page-actions{font-size:12px;}
.portlet-wiki .taglib-text{font-size:16px;font-weight:600;}
.portlet-wiki .header-title{padding:10px 0;}
.portlet-wiki .header-title span{color:#000;}
.portlet-wiki .taglib-header{border-bottom:0 none;margin-bottom:5px;}
.portlet-wiki .results-header{background:none;border-bottom:#00b5cb solid 1px;}
.portlet-wiki .results-header th{background:none;color:#00b5cc;font-size:16px;padding:5px 10px 10px;}
.portlet-wiki .taglib-page-iterator .search-results{left:0;padding:10px;font-weight:300;color:#000;}
.portlet-wiki .taglib-ratings.stars{padding-top:0;}
.aui-rating-label-element{float:left;color:#00b5cb;}
.results-row.hover td{background: #e5e5e5;}
/*wiki hook*/
.portlet-wiki .hook_comment{padding-top:10px;font-size:13px;}
.portlet-wiki .hook_postedOn{font-size:13px;color:#00b5cb;font-weight:bold;}

/* */

/* documentos */
.portlet-document-library .results-header th {
    background-color:#FFFFFF;
   	color:#000;
   	font-weight:bold;
   	font-size:16px;
   	border-bottom:1px solid #2d2849;
   	padding:0 5px 5px;
}
.portlet-document-library .results-row{background:url("/wemoocdemo-theme/images/custom/portlet/bullet_tr.gif") repeat-x 0 100%;}
.portlet-document-library .results-row td a, .portlet-message-boards .results-row-hover td a{
	font-weight:normal !important
}
.portlet-document-library .results-row .col-1 a, .portlet-message-boards .results-row-hover .col-1 a{
	background:url(../images/custom/enreda/bullet_triangulo_blanco.png) no-repeat right 50% transparent;
	padding-right: 9px;
}
.portlet-document-library .lfr-asset-column-actions .lfr-asset-column-actions-content{border-color:#000;}
.portlet-document-library .lfr-asset-column-actions-content{background-color:#fff;}
.portlet-document-library .lfr-asset-column-actions-content li{list-style:none;}
/* FIN documentos */
