/*FOROS*/

/*Foros*/
.portlet-message-boards ul.lfr-actions li.lfr-trigger .nobr {color:#FFF;} 
.portlet-message-boards .col-2{display:none;}
.portlet-message-boards .top-links{float:left;}
.portlet-message-boards .top-links img{display:none;}
.portlet-message-boards .taglib-text{text-decoration:none;}
.portlet-message-boards .thread-icon .taglib-icon .icon{display:block; padding-right:5px;margin-top:5px;}
.portlet-message-boards .message-container{border:0;margin-left:0;}
.portlet-message-boards .thread-body{font-size:16px;}
.portlet-message-boards{
	background-color: #FFF;
	padding: 0 0 5px 0;
}

.portlet-message-boards .lfr-panel-title{
	color:#00b5cc;
	font-size: 18px;
}
.portlet-message-boards .search-results{
	color:#d78613;
	padding-left:10px;
	font-size:12px;
	font-weight:bold;
	padding-top:10px;
}	
.portlet-message-boards .taglib-search-iterator-page-iterator-bottom{
	padding:10px 0;
}
.portlet-message-boards .taglib-search-iterator-page-iterator-bottom .search-results{display:none;}

.portlet-message-boards .top-links-container{
	border-bottom:#2d2849 solid 1px;
	padding:0 0 10px 10px;
	color:#000;
	font-size:16px;
	font-weight:bold;
	z-index:1000;
	margin:0;
	
}
.portlet-message-boards .top-links-container a{
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.portlet-message-boards .taglib-icon{
	font-size:12px;
	font-weight:bold;
}
.portlet-message-boards .category-search .aui-button-content  input[type="submit"]{
	background: url(/wemoocdemo-theme/images/custom/lupav2.png) no-repeat 0 0;
	color: transparent;
	width: 54px;
	height: 40px;
	text-indent: -100000px;
}
.portlet-message-boards .search_box{
	float:right;
	clear:right;
	padding:5px;
	margin:0;
}
.portlet-message-boards .separator {
	padding: 0;
	clear:both;	
	border-top:0 none transparent;
	margin:0;
}
.portlet-message-boards .taglib-flags .taglib-text{
	font-size:12px;
	font-weight:bold;
}
.portlet-message-boards .thread-bottom .taglib-icon .taglib-text{
	font-size:12px;
	font-weight:bold;
}
.portlet-message-boards .thread-top .taglib-icon .taglib-text{
	font-size:12px;
	font-weight:bold;
}

.portlet-message-boards .user-details{
	font-size:12px !important;
}
.portlet-message-boards .thread-message-view .taglib-user-display .user-details .user-name{
	font-size:16px;
	font-weight:bold !important;
}
.portlet-message-boards .user-details .taglib-icon .taglib-text{
	font-size:12px;
	font-weight:bold;
}
.portlet-message-boards .header-back-position {
	clear:left;
}
.portlet-message-boards .header-back-position a{
	font-size:16px;
	font-weight:bold;
}
.portlet-message-boards .taglib-header .header-title{
	font-size:18px;
	margin:0;
}
.portlet-message-boards .taglib-header{
	border:0;
	min-height:10px;
	margin-bottom:0;
	border-bottom:0 none transparent;
}

.portlet-message-boards .header-title-position{
	font-size:18px;
	font-weight:bold;
	font-family:Nunito, Tahoma, Verdana, Arial;
	clear:both;
	overflow:hidden;
	display:block;
	color:#000;
	padding:5px 0;
}

.portlet-message-boards .header-pretit{
	float:left;
	margin-top:0;
	font-weight:bold;
	color:#004250;
	padding-right:5px;
}
.portlet-message-boards .header-pretit2{
	float:left;
	margin-top:0;
	font-weight:bold;
	padding-right:5px;
}
.portlet-message-boards .header-top-links-title{
	float:left;
	margin-top:0;
	font-weight:bold;
	color:#56c1d3;
	width:350px;
	padding:20px 0 20px 0;
}
.portlet-message-boards .thread-navigation{color:#FFF;display:none;}
.portlet-message-boards .thread-navigation a{display:none;}

/*Contenidos ocultos*/

.portlet-message-boards .lfr-top .user-info .alt td{
	background-color:#f8f8f8;
}

.portlet-message-boards .thread-message-view .portlet-section-alternate .results-row .alt td{
	background-color: #f8f8f8 !important;
}

.portlet-message-boards #toggle_id_message_boards_view_message_thread .results-row .col-4,.portlet-message-boards #toggle_id_message_boards_view_message_thread .results-row-hover .col-4{}
.portlet-message-boards #toggle_id_message_boards_view_message_thread tr.results-row td a, .portlet-message-boards #toggle_id_message_boards_view_message_thread tr.results-row-hover td a{
	font-weight:bold !important;	
}

.portlet-message-boards #toggle_id_message_boards_view_message_thread .results-row.alt td a, .portlet-message-boards #toggle_id_message_boards_view_message_thread .results-row-hover.alt  td a{
	font-weight:bold !important;	
}
.portlet-message-boards .toggle_id_message_boards_view_message_thread{border:0 none transparent;}
.portlet-message-boards .results-row .col-1 a, .portlet-message-boards .results-row-hover .col-1 a{
	background:url(../images/custom/enreda/bullet_triangulo_blanco.png) no-repeat right 50% transparent;
	padding-right: 9px;
}
.portlet-message-boards .taglib-header .header-back-to {
	color:#000000;
	font-weight:bold;
	font-size:12px;
}
.portlet-message-boards .category-buttons {
	display: block!important;
	float: right;
	margin: 0;
	clear:left;
	font-size:12px;
}
.portlet-message-boards .threads-panel {
margin-top: 10px;
}

/* DESACTIVAMOS  DISCUSIONES EN FINANZAS, SOLO DESDE CADA CATEGORIA */

/*New estilos foros*/
.portlet-message-boards .taglib-header .header-back-to a {
	padding: 4px 10px 4px 2px;
	color: #555555;
}
.portlet-message-boards .thread-message-view.portlet-section-alternate.results-row.alt td{
	background-color:#f8f8f8 !important;
}

.portlet-message-boards .category-subscriptions{float:right;clear:right;}
.portlet-message-boards .category-subscriptions .category-subscription-types{padding-left:5px;}
.portlet-message-boards .category-subscriptions .category-subscription-types a{
	display:inline-block;
	font-size:1em;
	font-family:Nunito, Tahoma, Verdana;
	font-weight:bold;
	text-shadow: none;
}

.portlet-message-boards .category-subscriptions .category-subscription-types a span{line-height:15px;}

.portlet-message-boards .thread-controls .thread-actions a{
	display:inline-block;
	font-weight:bold;
	font-family:Nunito, Tahoma, Verdana;
	text-shadow: none;
}

.portlet-message-boards .edit-controls a.taglib-icon{
	display:inline-block;
	font-size:1em;
	font-weight:bold;
	font-family:Nunito, Tahoma, Verdana;
	text-shadow: none;
}
/* add */
.portlet-message-boards .portlet-topper-toolbar {
display: block;
}
.portlet-message-boards .thread-user-rank {
display: none;
}
/* */

.portlet-message-boards .message-container .user-info{border-right:0 none transparent;}
.portlet-message-boards .thread-top{border-bottom:0 none transparent;}