.portlet-borderless-container .portlet-body{font-size:16px;}
.portlet-content .portlet-body{font-size:16px;clear:both;padding-bottom:8px}
.portlet-content, .portlet-minimized .portlet-content-container {
	padding: 0;
}
#navigation_table #ul_childmenu li a
{
	color: #2AA8BF;
	text-decoration: none;
	font-family: Nunito, Tahoma, Verdana, Arial;
	font-size: 12px;
	font-weight: bold;
}

#navigation_table #ul_childmenu .selected a
{
	color: #000;
}
#navigation_table #ul_childmenu li.last_li{border-right:none}
#navigation_table #ul_childmenu li.first_child{ border-top: 1px solid #E3E3E3; }
#navigation_table .submenu{	float: none;list-style-type: none;position:absolute;}
#navigation_table #ul_childmenu li{ 
	display: none;
	float: none;
	background-color: #FFFFFF;
	width: auto;
    padding: 0 10px 2px 10px;
    margin: 0;
    border: none;
    height: auto;	
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

#navigation_table .submenu li a {
    cursor: pointer !important;
    font-size: 12px;
}

#navigation_table .submenu li span {
    cursor: pointer !important;
    font-size: 12px;
}

#portletnav #menudearriba{
	/*position: absolute;*/
	margin: 0;

}
#portletnav {
	clear:both;
	overflow:hidden;
	display:block;
	padding:39px 0;
}


#portletnav ul li.last_li{border-right:none}
#portletnav ul li.first_child{ border-top: 1px solid #E3E3E3; }

#portletnav .submenu{
	float: none;
	list-style-type: none;
	position: absolute;
}

#portletnav ol, ul, dl {
margin-left:0px;
}

#portletnav blockquote, ul, ol, dl {
margin:0px;
}

#portletnav .submenu li{ 
	display: none;
	float: none;
	background-color: #FFFFFF;
	width: auto;

    padding: 0 10px 2px 10px;
    margin: 0;
    border: none;
    height: auto;	
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

#portletnav .submenu li a {
    cursor: pointer !important;
    font-size: 12px;
}

#portletnav .submenu li span {
    cursor: pointer !important;
    font-size: 12px;
}

/* GENERICO TT PORTLETS */
.portlet .portlet-special-tt {height:66px;border-bottom:1px #e2e2e2 solid;padding:1px;}
.portlet .portlet-special-tt .portlet-special-ttcontent {height:66px;font-size:20px; color:#00c4d9;}
.portlet .portlet-special-tt .table_text {width:100px;font-size:18px;color: #36b3d1;line-height:18px;text-align:left;position:relative;left:12px;top:36px;}
.portlet .portlet-special-tt .portlet-special-ttcontent .portlet-special-ttcontent-tape {height:66px;}
.portlet .portlet-special-tt .specialFontSize {font-size:20px;font-weight:bold;}

.portlet-special-tt .portlet-title{
	width:200px;
}




/* Marco y sombreado portlets */

.portlet{
	background-color: #FFFFFF;
	border: none;
}


/* Barra titulo portlets */
.portlet-title img {
	float:right;
	padding-bottom: 4px;
}

.portlet-topper
{
	background-color:#fff;
    color:  #2d2849; 
}

.portlet-title-text
{
	font:600 20px Nunito, Tahoma, Verdana, Arial;
	cursor:default;
	color:#e4701e;
}

.portlet-topper-toolbar{
	display: block;
	margin: 0;
	padding: 2px;
	position: relative;
	right: 3px;
	text-align: right;
	top: 0px;
	top: -40px;
	float: right;
}

.displaywebcontentrotator-portlet .body_cont{height:210px;overflow: hidden;margin-bottom:10px;}

.aui-calendar-link-none, .aui-calendar-link-today {
	display: none;
}

