.portlet-column-content {
	padding: 10px;
}

.portlet-column-content-only, .ltr .portlet-column-content-first, .rtl .portlet-column-content-last {
	padding-left: 10px;
}

.portlet-column-content-only, .ltr .portlet-column-content-last, .rtl .portlet-column-content-first {
	padding-right: 10px;
}