@import url(../variables.css);
@import url(../mixin.css);

.container-activity h2,.container-activity h3,.container-activity h4,.container-activity h5,.container-activity h6 {
	margin: 0;
	padding: 5px 0 10px;
}

.container-activity p {
	font-size: 14px;
	margin: 0;
	padding-bottom: 10px;
}

h2.description-title {
	color: $lmsTitleColor2;
	font: $lmsTitleFont2;
}

.description {
	color: #000;
	font-size: 14px;
}

.container-buttons {
	clear: both;
	display: block;
	overflow: hidden;
	padding: 10px 0;
}

.video {
	text-align: center;
}

.hide-calendar {
	float: left;
	display: block;
	padding-right: 29px;
}

.doc_descarga {
	clear: both;
	display: block;
	overflow: hidden;
	background: $lmsIcoDocBg;
	padding: 5px 0 5px 25px;
}

.doc_descarga span {
	float: left;
	color: #e8557c;
	display: block;
	font: bold 14px Arial, Verdana;
	padding: 5px 0;
}

.doc_descarga a.verMas {
	float: left;
	text-align: left;
	display: block;
	font: bold 14px Arial, Verdana;
	padding: 5px 25px 5px 0;
	background: $lmsIcoSeeMoreBg;
}

a.verMas {
	display: block;
	font: bold 14px Arial, Verdana;
	padding: 5px 25px 5px 0;
	background: $lmsIcoSeeMoreBg;
}

/* lmsactivitieslist */
.lms-tree ul {
	padding: 0 0 0 10px;
}

.lms-tree ul li {
	padding: 5px 0;
	display: block;
	list-style: none;
	font: $lmsTreeFont1;
	color: $lmsTreeColor1;
}

.lms-tree ul li li {
	padding: 5px 0 5px 20px;
}

.lms-tree ul li a {
	color: $lmsTreeAColor;
}

.lms-tree ul li a:hover {
	color: $lmsTreeAColorHover;
}

.lms-tree ul li .destacado {
	color: $lmsTreeImportant;
}

.lms-tree ul li li a,.lms-tree ul li li span {
	background-image: none;
	color: $lmsTreeColor2;
}

.lms-tree ul li.informacionmodule a,.lms-tree ul li.informacionmodule span {
	background: $lmsIcoInfoModuleBg;
}

.lms-tree ul li.learningCategory a,.lms-tree ul li.learningCategory span {
	background: $lmsTreeOptionMoreBg;
}

.lms-tree ul li.learningCategory li a,.lms-tree ul li.learningCategory li span {
	background-image: none;
}

.lms-tree ul li.option-none span.desplegar {
	background: $lmsTreeOptionMoreBg;
	padding: 10px 15px;
}

.lms-tree ul li.option-none span.desplegar:hover {
	background: $lmsTreeOptionMoreBgHover;
	padding: 10px 15px;
}

.lms-tree ul li.option-none span.locked {
	background: url("/wemoocdemo-theme/images/common/lock.png") no-repeat 3px 50%;
	padding: 10px 15px;
}

.lms-tree ul li.option-more span.desplegar {
	background: $lmsTreeOptionMoreBg;
}

.lms-tree ul li.option-less span.desplegar {
	background: $lmsTreeOptionLessBg;
}

.lms-tree ul li.option-more span.desplegar:hover {
	background: $lmsTreeOptionMoreBgHover;
}

.lms-tree ul li.option-less span.desplegar:hover {
	background: $lmsTreeOptionMoreBgHover;
}

.lms-tree ul li.option-more li a,.lms-tree ul li.option-less li a,.lms-tree ul li.option-more li span,.lms-tree ul li.option-less li span {
	background-image: none;
}

.lms-tree ul li.option-less span.desplegar,.lms-tree ul li.option-more span.desplegar {
	padding: 10px 15px;
	cursor: pointer;
}

.lms-tree ul li li.passed {
	background: $lmsTreeOptionOkBg;
}

.lms-tree ul li li.passed a,.lms-tree ul li li.passed span {
	display: inline-block;
}

.lms-tree ul li li.failed {
	background: $lmsTreeOptionKoBg;
}

.lms-tree ul li li.activado {
	background: $lmsTreeArrowRightBg;
}

.lms-tree ul li li.activado a,.lms-tree ul li li.activado span {
	color: $lmsTreeColor2;
}

.lms-tree ul li li.locked {
	background: $lmsTreeOptionLockBg;
}

.lms-tree ul li li.locked a,.lms-tree ul li li.locked span {
	color: $lmsTreeColorLocked;
}

.lms-tree ul li li.editing {
	clear: both;
	background: none;
}

.lms-tree ul li li.editing a {
	width: 165px;
	padding-left: 0;
	padding-right: 0;
}

.lms-tree ul li li.editing .iconsedit {
	padding: 5px 0;
}

.lms-tree ul li li.editing .iconsedit span {
	padding: 0 2px;
	background: 0 none;
}

.lms-tree ul li li.editing .iconsedit span a {
	width: auto;
	padding: 0;
	background: 0 none;
}

.lms-tree ul li .iconsedit {
	padding: 5px 0 5px 20px;
}

.lms-tree ul li li .iconsedit {
	padding: 5px 0;
}


/* Arbol con solo una unidad */
.lms-desplegable ul {
	padding: 0 0 0 10px;
}

.lms-desplegable ul li {
	padding: 5px 0 5px 20px;;
	display: block;
	list-style: none;
	font: $lmsTreeFont1;
	color: $lmsTreeColor1;
}
.lms-desplegable ul li a {
	color: $lmsTreeAColor;
}

.lms-desplegable ul li a:hover {
	color: $lmsTreeAColorHover;
}
.lms-desplegable ul li.passed {
	background: $lmsTreeOptionOkBg;
}

.lms-desplegable ul li.passed a,.lms-desplegable ul li.passed span {
	display: inline-block;
}

.lms-desplegable ul li.failed {
	background: $lmsTreeOptionKoBg;
}

.lms-desplegable ul li.activado {
	background: $lmsTreeArrowRightBg;
}

.lms-desplegable ul li.activado.editing {
	background: $lmsTreeArrowRightBg;
	background-position:7px 10px;
}

.lms-desplegable ul li.activado a,.lms-desplegable ul li.activado span {
	color: $lmsTreeColor2;
}

.lms-desplegable ul li.locked {
	background: $lmsTreeOptionLockBg;
}

.lms-desplegable ul li.locked a,.lms-desplegable ul li.locked span {
	color: $lmsTreeColorLocked;
}

.lms-desplegable ul li.editing {
	clear: both;
	background: none;
}

.lms-desplegable ul li.editing a {
	width: 165px;
	padding-left: 0;
	padding-right: 0;
}

.lms-desplegable ul li.editing .iconsedit {
	padding: 5px 0;
}

.lms-desplegable ul li.editing .iconsedit span {
	padding: 0 2px;
	background: 0 none;
}

.lms-desplegable ul li.editing .iconsedit span a {
	width: auto;
	padding: 0;
	background: 0 none;
}

.lms-desplegable ul li .iconsedit {
	padding: 5px 0 5px 20px;
}

/* */

.newactivity img.icon {
	display: none;
}

.newactivity a.taglib-icon {
	display: block;
	background: $lmsNewActivityBgColor;
	padding: 10px 5px;
	text-align: center;
	font: bold 16px Nunito, Arial;
	color: $lmsNewActivityColor;
	margin: 5px 0;
	text-decoration:none;
	@include border-radius(5px);
	.taglib-text{
		color: $lmsNewActivityColor;
		text-decoration:none;
	}
}

.newactivity a.taglib-icon:hover {
	background: $lmsNewActivityBgColorHover;
	.taglib-text{
		color: $lmsNewActivityColor;
		text-decoration:none;
	}
}

/* formularios*/
.lmsactivitieslist-portlet .taglib-header .header-title {
	color: $lmsFormTitleColor;
	font: $lmsFormTitleFont;
}
/* */
/* FIN lmsactivitieslist */

/* titulo */
.moduletitle-portlet .taglib-header {
	margin-bottom: 0;
}

.moduletitle-portlet .taglib-header .header-title {
	padding: 5px 0 5px 25px;
	border-bottom: #2d2849 solid 1px;
	color: $lmsModuleTitleColor;
	background: $lmsModuleTitleBgColor;
	font: $lmsModuleTitleFont;
}
/* */

/* Descripcion */
.moduledescription-portlet .portlet-borderless-container .portlet-body {
	background: $lmsPortletBody;
	padding: 10px;
	font-size: 14px;
}
/* */

/* plantilla tarea */
.reto_container .entradilla {
	font-size: 14px;
}

.reto_container .galery_video .clearfix {
	text-align: center;
}

.reto_container .galery_docs {
	list-style: none;
}

.reto_container .galery_docs li {
	text-align: left;
	list-style: none;
	color: #e8557c;
	display: block;
	font: bold 14px Arial, Verdana;
	background:
		url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_doc.png")
		no-repeat 0 50%;
	padding: 5px 0 5px 25px;
}

.reto_container .galery_docs a {
	background: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png")
		no-repeat scroll 100% 50% transparent;
	padding: 5px 25px 5px 5px;
}

/* */

/* Question */
.execactivity-portlet .portlet-borderless-container .portlet-body {
	background: $lmsBodyBgColor;
	padding: 10px;
}

.execactivity-portlet p {
	font-size: 14px;
	margin: 0;
	padding-bottom: 10px;
}

.execactivity-portlet .correct .content_answer {
	background: $lmsAnswerCorrect;
	min-height: 50px;
	padding-right: 90px;
}

.execactivity-portlet .incorrect .content_answer {
	background: $lmsAnswerIncorrect;
	min-height: 50px;
	padding-right: 90px;
}

.execactivity-portlet .question {
	font-size: 14px;
	border-bottom: 0 none;
}

.execactivity-portlet .question .questiontext {
	padding: 10px;
	margin: 0 0 10px;
	background: $lmsQuestionBgColor;
	border-top: 0 none;
	border-bottom: 0 none;
	font-weight: 600;
}

.execactivity-portlet .question .questiontext p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.execactivity-portlet .question .answer {
	padding: 5px 10px;
}

.execactivity-portlet .correct .answer {
	padding: 5px 0 5px 10px;
}

.execactivity-portlet .incorrect .answer {
	padding: 5px 0 5px 10px;
}

.execactivity-portlet .question .answer input {
	margin-top: 5px;
	margin-right: 5px;
	float: left;
}

.execactivity-portlet .aui-button-submit {
	padding: 10px 0;
	text-align: right;
}

.execactivity-portlet .questionFeedback {
	background: $lmsFeedbackBgColor;
	padding: 10px 0 10px 30px;
	font: $lmsFeedbackFont;
	color: $lmsFeedbackColor;
}

.execactivity-portlet .aui-button {
	clear: both;
	display: block;
	padding: 10px 0 0;
	text-align: right;
}

.question_sortable ul.sortable {
	list-style: none;
}

.question_sortable ul.sortable .answer {
	cursor: pointer;
}

.questiontype_fillblank .answer-fillblank img {
	vertical-align: middle;
}

.questiontype_multioptions .answer input {
	display: inline-block;
}

.questiontype_multioptions .answer .answer-options {
}

.questiontype_options .answer input {
	display: inline-block;
}

.questiontype_options .answer .answer-options {
	vertical-align: middle;
}
/* */
/* Tipo tarea */
.p2ptaskactivity-portlet .portlet-borderless-container .portlet-body {
	background: $lmsPortletBody;
	padding: 10px;
	clear: both;
	overflow: hidden;
}

.p2ptaskactivity-portlet .sub-title {
	color: $lmsP2pSubTitleColor;
	font: $lmsP2pSubTitleFont;
}

.p2ptaskactivity-portlet .steps {
	color: $lmsP2pStepsColor;
	margin: 10px 0;
	padding: 10px 0;
	border-top: $lmsBorder;
	border-bottom: $lmsBorder;
	font: $lmsP2pStepsFont;
}

.p2ptaskactivity-portlet .steps span {
	color: $lmsP2pStepsColor;
}

.p2ptaskactivity-portlet .steps span.selected {
	color: $lmsP2pStepsSelectedColor;
}

.p2ptaskactivity-portlet .steps span.clicable {
	cursor: pointer;
}

.p2ptaskactivity-portlet .steps span.clicable:hover {
	color: $lmsP2pStepsHoverColor;
}

.p2ptaskactivity-portlet .container-textarea {
	padding: 5px 0 10px;
}

.p2ptaskactivity-portlet .container-textarea textarea {
	width: 99%;
	padding: 10px;
	background: $lmsInputsBgColor;
	color: $lmsInputsColor;
	font: $lmsInputsFont;
	border: $lmsInputsBorder;
}

.p2ptaskactivity-portlet .container-file {
	border: $lmsFileBorder;
	padding: 8px;
	margin-bottom: 10px;
	font:$lmsFileFont;
	color: $lmsFileColor;
}

.p2ptaskactivity-portlet .container-file label {
	display: none;
}

.p2ptaskactivity-portlet .container-file input {
	font-size: 14px;
	font-weight: 300;
}

.p2ptaskactivity-portlet .option-more span.label-col {
	display: block;
	color: #e4701e;
	font: bold 14px Arial;
	padding: 5px 0 5px 25px;
	cursor: pointer;
	background: $lmsTreeOptionMoreBg;
}

.p2ptaskactivity-portlet .option-less span.label-col {
	display: block;
	color: #e8557c;
	font: bold 14px Arial;
	padding: 5px 0 5px 25px;
	cursor: pointer;
	background: $lmsTreeOptionLessBg;
}

.p2ptaskactivity-portlet span.label-col span.number {
	display: none
}

.p2ptaskactivity-portlet .option-more .collapsable span {
	color: #000;
	padding: 5px 0;
	background: none;
}

.p2ptaskactivity-portlet .option-less .collapsable span {
	color: #000;
	padding: 5px 0;
	background: none;
}

.p2ptaskactivity-portlet .portlet-body .portlet-body li {
	list-style-image: $listStyleImage;
	margin: 0 20px 10px;
}

.no-p2pActivites-uploaded {
	font-size: 14px;
}
/* */

/* marsupial*/
.marsupialwebcontentactivity-portlet .portlet-borderless-container .portlet-body
	{
	background: $lmsPortletBody;
	padding: 10px;
	clear: both;
	overflow: hidden;
}

.marsupialwebcontentactivity-portlet p {
	font-size: 14px;
	margin: 0;
	padding-bottom: 10px;
}
/* */

/* lms navegacion */
.activitynavigator-portlet .portlet-borderless-container .portlet-body {
	background: $lmsPortletBody;
	padding: 10px;
	clear: both;
	overflow: hidden;
	display: block;
}

#previusactivity {
	float: left;
}

#previusactivity a {
	font: $lmsNavActivityFont;
	padding: 5px 5px 5px 25px;
	background: $lmsNavActivityPrevBg;
}

#previusactivity span {
	font: $lmsNavActivityFont;
	padding: 5px 5px 5px 25px;
	background: $lmsNavActivityPrevBgHover;
	color: $lmsNavActivityDesColor;
}

#nextactivity {
	float: right;
}

#nextactivity a {
	font: $lmsNavActivityFont;
	padding: 5px 25px 5px 5px;
	background: $lmsNavActivityNextBg;
}

#nextactivity span {
	font: $lmsNavActivityFont;
	padding: 5px 25px 5px 5px;
	background: $lmsNavActivityNextBgHover;
	color: $lmsNavActivityDesColor;
}

#startactivity {
	float: right;
}

#startactivity a {
	@include button-default;
}

#startactivity a:hover {
	@include button-hover;
}

.activitynavigator-portlet #modulegreetings {
	text-align: center;
	font: $lmsMsgFinishFont;
	color: $lmsMsgFinishColor;
	padding: 10px 10px 20px;
}

/* */

/* Cambio de navegacion */

.changeeditingmode-portlet {
	margin: 0 0 10px;
}

.changeeditingmode-portlet .aui-button-input {
	display: block;
	background: #37aebd;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.changeeditingmode-portlet .aui-button-input:hover {
	background: #45c3d3;
}
/* */
.moduledescription-portlet .taglib-discussion {
	font-size: 14px;
}

.moduledescription-portlet #moduleDescription ul {
	list-style-image: $listStyleImage;
	margin: 0 20px 10px;
}

/* botones de unidades y actividades */
.newitem .taglib-icon {
	padding: 10px 10px 10px 10px;
	font: bold 16px Nunito, Arial;
	display: block;
	background: #e4701e;
	color: #fff;
	text-align: center;
	text-decoration:none;
	@include border-radius(5px);
	.taglib-text{text-decoration:none;}
}

.newitem .taglib-icon:hover{
	background: #fcb034;
	.taglib-text{text-decoration:none;}
}

.newitem .taglib-icon img.icon {
	display: none;
}
/* */

/* Offline */
.offlinetaskactivity-portlet .portlet-borderless-container .portlet-body
	{
	background: $lmsPortletBody;
	padding: 10px;
}
/* */
/* Online */
.onlinetaskactivity-portlet .portlet-borderless-container .portlet-body
	{
	background: $lmsPortletBody;
	padding: 10px;
}
/* */
/* Evaluacion activity */
.evaluationtaskactivity-portlet .portlet-borderless-container .portlet-body
	{
	background: $lmsPortletBody;
	padding: 10px;
}
.evaluationtaskactivity-portlet .col-calification .see-more {
	float:none;
}
/* */
/* Recursos activity */
.resourceExternalActivity-portlet .portlet-borderless-container .portlet-body
	{
	background: $lmsPortletBody;
	padding: 10px;
}

.resourceInternalActivity-portlet .portlet-borderless-container .portlet-body
	{
	background: $lmsPortletBody;
	padding: 10px;
}
/* */

/* Activity list */
ul.activity-list li img.icon {
	display: none;
}

ul.activity-list {
	margin: 20px 50px;
}

ul.activity-list li {
	list-style: none;
	width: 32%;
	display: inline-block;
	padding: 10px 0;
}

ul.activity-list li a {
	display: block;
	padding-top: 90px;
	background: $lmsActivityListIcoGBg;
	text-align: center;
	font: $lmsActivityListFont;
}

ul.activity-list li.activity_0 a {
	background-image: $lmsActivityListIco0Bg;
}

ul.activity-list li.activity_2 a {
	background-image: $lmsActivityListIco2Bg;
}

ul.activity-list li.activity_3 a {
	background-image: $lmsActivityListIco3Bg;
}

ul.activity-list li.activity_4 a {
	background-image: $lmsActivityListIco4Bg;
}

ul.activity-list li.activity_5 a {
	background-image: $lmsActivityListIco5Bg;
}

ul.activity-list li.activity_6 a {
	background-image: $lmsActivityListIco6Bg;
}

ul.activity-list li.activity_7 a {
	background-image: $lmsActivityListIco7Bg;
}

ul.activity-list li.activity_8 a {
	background-image: $lmsActivityListIco8Bg;
}

ul.activity-list li.activity_9 a {
	background-image: $lmsActivityListIco9Bg;
}

ul.activity-list li.activity_103 a {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_group.png)
		no-repeat center top;
}

.col-type span {
	display: block;
	width: 50px;
	height: 30px;
	text-indent: -60000px;
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_list_m.png)
		no-repeat left top;
}

.col-type span.activity-2 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_e_m.png)
		no-repeat left top;
}

.col-type span.activity-7 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_i_m.png)
		no-repeat left top;
}

.col-type span.activity-9 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_scorm_m.png)
		no-repeat left top;
}

.col-type span.activity-4 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_survey_m.png)
		no-repeat left top;
}

.col-type span.activity-3 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_p2p_m.png)
		no-repeat left top;
}

.col-type span.activity-8 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_evaluation_m.png)
		no-repeat left top;
}

.col-type span.activity-6 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_on_m.png)
		no-repeat left top;
}

.col-type span.activity-5 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_of_m.png)
		no-repeat left top;
}

.col-type span.activity-0 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_prueba_m.png)
		no-repeat left top;
}

.col-type span.activity-103 {
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_activity_group_m.png)
		no-repeat left top;
}

.evaluationtaskactivity-portlet .activity-0 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP0Bg;
}

.evaluationtaskactivity-portlet .activity-2 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP2Bg;
}

.evaluationtaskactivity-portlet .activity-3 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP3Bg;
}

.evaluationtaskactivity-portlet .activity-4 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP4Bg;
}

.evaluationtaskactivity-portlet .activity-5 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP5Bg;
}

.evaluationtaskactivity-portlet .activity-6 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP6Bg;
}

.evaluationtaskactivity-portlet .activity-7 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP7Bg;
}

.evaluationtaskactivity-portlet .activity-8 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP8Bg;
}

.evaluationtaskactivity-portlet .activity-9 {
	padding: 10px 10px 10px 30px;
	background: $lmsActivityListIcoP9Bg;
}

.evaluationtaskactivity-portlet .activity-103 {
	padding: 10px 10px 10px 30px;
	background:
		url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad.png)
		no-repeat 5px 50%;
}
/* */

/* SCORM */
.scormactivity-portlet .portlet-borderless-container .portlet-body {
	background: $lmsPortletBody;
	padding: 10px;
	clear: both;
	overflow: hidden;
	display: block;
}

#placeholder_treecontentContainer {
	clear: both;
	overflow: hidden;
	display: block;
}

#placeholder_treeContainer {
	font: $lmsActivityScormTreeFont;
}

#placeholder_treeContainer a {
	cursor: pointer;
}

/* Activity scorm */
#placeholder_treeContainer {
	position: absolute;
	background: $lmsActivityScormTreeBg;
	border: $lmsActivityScormTreeBorder;
	padding: 5px 5px 0;
	width: 20%;
	margin-top: -3px;
}

.portal-popup #placeholder_treeContainer {
	margin-top: -5px;
}

.portal-popup #placeholder_treeContainer {
	width: 35%;
}

#treeContainer {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: $lmsActivityScormTreeBg2;
}

#placeholder_barContainer {
	margin-bottom: 2px;
	background-color: $lmsActivityScormBarBg;
	width: 36px;
}

#placeholder_navigationContainer {
	float: right;
	margin-bottom: 6px;
}

#navigationContainer2 {
	width: 99%;
	background-color: $lmsActivityScormNavBg;
	border:$lmsActivityScormNavBorder;
	border-top: 0 none;
	height: 35px;
	padding-top: 15px;
}

#btnPrevious-link {
	float: left;
	padding-left: 15px;
}

#btnPrevious-link a {
	font: $lmsActivityScormNavFont;
	padding: 15px 15px 15px 40px;
	background: $lmsActivityScormPrevBg;
	color: $lmsActivityScormNavColor;
}

#btnPrevious-link a:hover {
	background: $lmsActivityScormPrevBgHover;
	color: $lmsActivityScormNavColorHover;
}

#btnContinue-link {
	float: right;
	padding-right: 15px;
}

#btnContinue-link a {
	font: $lmsActivityScormNavFont;
	padding: 15px 40px 15px 15px;
	background: $lmsActivityScormNextBg;
	color: $lmsActivityScormNavColor;
}

#btnContinue-link a:hover {
	background: $lmsActivityScormNextBgHover;
	color:  $lmsActivityScormNavColorHover;
}
/* */

/* */

/* encuesta */
.surveyactivity-portlet .portlet-borderless-container .portlet-body {
	background: $lmsPortletBody;
	padding: 10px;
	clear: both;
	overflow: hidden;
	display: block;
}

.surveyactivity-portlet p {
	font-size: 14px;
	margin: 0;
	padding-bottom: 10px;
}

.surveyactivity-portlet .correct .content_answer {
	background: $lmsAnswerCorrect;
}

.surveyactivity-portlet .incorrect .content_answer {
	background: $lmsAnswerIncorrect;
}

.surveyactivity-portlet .question {
	font-size: 14px;
	border-bottom: 0 none;
}

.surveyactivity-portlet .question .questiontext {
	padding: 10px;
	margin: 0;
	background: $lmsActivityTestQuestionBg;
	border-top: 0 none;
	border-bottom: 0 none;
	font-weight: 600;
}

.surveyactivity-portlet .question .questiontext p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.surveyactivity-portlet .question .answer {
	padding: 5px 10px;
}

.surveyactivity-portlet .question .answer .aui-field-label-right{
	float:left;
}

.surveyactivity-portlet .question .answer input {
	margin-right: 5px;
}

.surveyactivity-portlet .aui-button-submit {
	display: block;
	padding: 10px 0;
	text-align: right;
}

.surveyactivity-portlet .questionFeedback {
	background: $lmsFeedbackBg;
	padding: 10px 0 10px 30px;
	font: $lmsFeedbackFont;
	color: $lmsFeedbackColor;
}

/* */
.container-toolbar {
	clear: both;
	display: block;
	overflow: hidden;
}

.option-nota {
	font: $lmsTreeNoteFont;
	padding: 10px 15px 10px 30px;
	background:$lmsTreeNoteBg;
}

/* Evaluacion final */
.evaluationAvg-portlet .portlet-borderless-container .portlet-body {
	background: $lmsPortletBody;
	padding: 10px;
	clear: both;
	overflow: hidden;
	display: block;
}

.evaluationAvg-portlet p {
	font-size: 14px;
	margin: 0;
	padding-bottom: 10px;
}
/* */

/* navegador activity test */
#testactivity-navigator {
	display: block;
	clear: both;
	overflow: hidden;
	background: $lmsNavigatorPagesBgColor;
	padding: 10px;
	position: relative;
	margin: 10px 0 0;
}

.execactivity-portlet #testactivity-navigator .aui-button {
	padding: 0;
}

#testactivity-navigator #testactivity-navigator-pages {
	text-align: center;
	position: absolute;
	width: 40%;
	margin: 0 0 0 29%;
	font-weight: 600;
}

#testactivity-navigator #testactivity-navigator-pages p {
	display: inline;
}

#testactivity-navigator #testactivity-navigator-progress {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: $lmsNavigatorProgressBgColor;
	@include border-radius(5px);
}

#testactivity-navigator #testactivity-navigator-progress .testactivity-navigator-progress-frame
	{
	background: $lmsNavigatorProgressBgColor;
	height: 10px;
	float: left;
}

#testactivity-navigator #testactivity-navigator-progress .testactivity-navigator-progress-frame-browsed
	{
	background: $lmsNavigatorProgressBgColor2;
}
/* */

/* */
.wrapper-icon-course .aui-field-choice {
	display: block;
	margin-bottom: 10px;
}

.wrapper-icon-course .container_ico_course {
	padding-top: 10px;
}
/* */
.rightSideAnswer {
	text-align: right;
}

.rightSideAnswer a.taglib-icon {
	background: #37aebd;
	border: 0 none;
	color: #fff;
	display: inline-block;
	padding: 8px 35px;
	font: 300 16px Nunito, Arial;
}

.rightSideAnswer a.taglib-icon:hover {
	background: #45c3d3;
}

.rightSideAnswer a.taglib-icon img.icon {
	display: none;
}

.rightSideAnswer .taglib-icon .taglib-text {
	font: 300 16px Nunito, Arial;
}

/*  */
.groupTask-portlet .portlet-borderless-container .portlet-body {
	background: #fff;
	padding: 10px;
	clear: both;
	overflow: hidden;
	display: block;
}

/* enlaces que parezcan botones */
.coursemodule .access a.module-list-button-edit{
	background: #37aebd;
	border: 0 none;
	color: #fff;
	display: inline-block;
	padding: 8px 35px;
	font: 300 16px Nunito, Arial;
}
.coursemodule .access a.module-list-button-edit:hover{background:#45c3d3;}
.coursemodule .access a.module-list-button-access{
	background: #37aebd;
	border: 0 none;
	color: #fff;
	display: inline-block;
	padding: 8px 35px;
	font: 300 16px Nunito, Arial;
}
.coursemodule .access a.module-list-button-access:hover{background:#45c3d3;}
/* */

/* enlaces que parezcan botones */
.coursemodule .access a.module-list-button-edit{
	background: #37aebd;
	border: 0 none;
	color: #fff;
	display: inline-block;
	padding: 8px 35px;
	font: 300 16px Nunito, Arial;
}
.coursemodule .access a.module-list-button-edit:hover{background:#45c3d3;}
.coursemodule .access a.module-list-button-access{
	background: #37aebd;
	border: 0 none;
	color: #fff;
	display: inline-block;
	padding: 8px 35px;
	font: 300 16px Nunito, Arial;
}
.coursemodule .access a.module-list-button-access:hover{background:#45c3d3;}
/* */

.solution .leftSideAnswer input.aui-field-input-text{width:97%;}

.execactivity-portlet .buttons_content .aui-button{clear:none;display:inline;}

/* module selector */
.modules_selector_container{clear:both;overflow:hidden;padding-bottom:10px;}
.modules_selector_container span.modules_selector_list{display:block;float:left;width:80%;}
.modules_selector_container select{width:100%;height:35px;}
.modules_selector_container span.aui-button{display:block;float:left;width:19%;text-align:left;padding:0;}
.modules_selector_container span.aui-button input{padding:7px 14px;}
/* */

.contain_actions{text-align:right;}

.aui-button{
	text-align: right;
	padding: 10px 0;
}

/* formulario de busqueda */
.student_search .aui-column{float:none;display:inline-block;}
.student_search .search_lms_button{float:none;display:inline-block;vertical-align:bottom;}
/* */