@import "compass";

.container-activity h2, .container-activity h3, .container-activity h4, .container-activity h5, .container-activity h6{margin:0;padding:5px 0 10px;}
.container-activity p{font-size:14px;}
.container-activity li{list-style-image: url("/wemoocdemo-theme/images/custom/webcontent/bullet.png"); margin: 0 20px 10px; }

h2.description-title{color:#104b7d;font:600 18px Arial;}

.question{border:0 none;}

/* lmsactivitieslist */

/* 6.1 */
.lms-tree ul{padding:0;}
.lms-tree ul li{padding:10px 0;display:block;list-style:none;font:600 16px Nunito, Arial;color:#00b5cb;}
.lms-tree ul ul{padding:10px 0;}
.lms-tree ul li li{padding:5px 0 5px 40px;color:#000;}

.lms-tree ul li .destacado{color:#2d2849;}

.lms-tree ul li li a, .lms-tree ul li li span{background-image:none;color:#00b5cb;}
.lms-tree ul li.informacionmodule a, .lms-tree ul li.informacionmodule span{background: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat 0 50%;}
.lms-tree ul li.learningCategory a,.lms-tree ul li.learningCategory span{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more.png") no-repeat 0 50%;}
.lms-tree ul li.learningCategory li a,.lms-tree ul li.learningCategory li span{background-image:none;}

.lms-tree ul li.option-none span.desplegar{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more.png") no-repeat 0 50%;padding: 10px 20px;}
.lms-tree ul li.option-none span.desplegar:hover{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more_hover.png") no-repeat 0 50%;padding: 10px 20px;}
.lms-tree ul li.option-none span.locked{background: url("/wemoocdemo-theme/images/common/lock.png") no-repeat 3px 50%;padding: 10px 20px;}

.lms-tree ul li.option-more span.desplegar{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more.png") no-repeat 0 50%;}
.lms-tree ul li.option-less span.desplegar{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_less.png") no-repeat 0 50%;}
.lms-tree ul li.option-more span.desplegar:hover{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more_hover.png") no-repeat 0 50%;}
.lms-tree ul li.option-less span.desplegar:hover{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_less_hover.png") no-repeat 0 50%;}
.lms-tree ul li.option-more li a, .lms-tree ul li.option-less li a, .lms-tree ul li.option-more li span, .lms-tree ul li.option-less li span{background-image:none;}

.lms-tree ul li.option-less span.desplegar, .lms-tree ul li.option-more span.desplegar, .lms-tree ul li.option-none span.desplegar{padding:10px 20px;cursor:pointer;}

.lms-tree ul li li.passed{background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_ok.png") no-repeat 20px 50%;}
.lms-tree ul li li.passed a, .lms-tree ul li li.passed span{display:inline-block;}
.lms-tree ul li li.activado{background: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat 20px 50%;}
.lms-tree ul li li.activado a, .lms-tree ul li li.activado span{color:#00b5cc;}
.lms-tree ul li li.editing{clear:both;background:none;}
.lms-tree ul li li.editing a{width:165px;padding-left:0;padding-right:0;}
.lms-tree ul li li.editing .iconsedit{padding:5px 0;}
.lms-tree ul li li.editing .iconsedit span{padding:0 2px;background:0 none;}
.lms-tree ul li li.editing .iconsedit span a{width:auto;padding:0;background:0 none;}

.lms-tree ul li .iconsedit{padding:5px 0 5px 40px;}
.lms-tree ul li li .iconsedit{padding:5px 0;}
.lms-tree ul li .newactivity img.icon{display:none;}
.lms-tree ul li .newactivity a.taglib-icon{display:block;background:#e4701e url("/wemoocdemo-theme/images/custom/icons/ico_more_white.png") no-repeat 10px 50%;padding:10px 10px 10px 25px;font:300 16px Nunito;color:#fff;margin:5px 0 5px 20px;@include border-radius(4px);}
.lms-tree ul li .newactivity a.taglib-icon:hover{background-color:#fcb034;}

.lms-tree span.module-percent{}

/* FIN lmsactivitieslist */

/* titulo */
.moduletitle-portlet .taglib-header{border-bottom:0 none;}
.moduletitle-portlet .taglib-header .header-title{padding:5px 0 5px 25px;color:#e4701e;border-bottom:#2d2849 solid 1px;background:url("/wemoocdemo-theme/images/custom/arrow_buttom.png") no-repeat 0 50%;}
/* */

/* Descripcion */
#moduleDescription{padding:10px 0;font-size:16px;}

/* */

/* plantilla tarea */
.reto_container .entradilla{font-size:16px;}
.reto_container .galery_video .clearfix{text-align:center;}
.reto_container .galery_docs{list-style:none;}
.reto_container .galery_docs li{text-align:left;list-style:none;color:#00b5cb;display:block;font:600 16px Nunito, Tahoma, Verdana;background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_doc.png") no-repeat 0 50%;padding:5px 0 5px 25px;}
.reto_container .galery_docs a{background:url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat scroll 100% 50% transparent;padding:5px 25px 5px 5px;}

/* */

/* Question */
.execactivity-portlet p{font-size:16px;}
.execactivity-portlet .correct .content_answer{background:url("/wemoocdemo-theme/images/custom/icons/ico_lms_correct.png") no-repeat scroll 95% 50% transparent;}
.execactivity-portlet .incorrect .content_answer{background:url("/wemoocdemo-theme/images/custom/icons/ico_lms_incorrect.png") no-repeat scroll 95% 50% transparent;}
.execactivity-portlet .question{font-size:16px;border-top:0 none;border-bottom:0 none;}
.execactivity-portlet .question .questiontext{padding:10px 0;margin:10px 0;border-top:1px solid #2d2849;border-bottom:1px solid #2d2849;font-weight:600;}
.execactivity-portlet .question .questiontext p{margin-bottom:0;}
.execactivity-portlet .question .answer{padding:5px 10px;}
.execactivity-portlet .correct .answer{padding:5px 90px 5px 10px;}
.execactivity-portlet .incorrect .answer{padding:5px 90px 5px 10px;}
.execactivity-portlet .question .answer input{margin-right:5px;}
.execactivity-portlet .aui-button-submit{display:block;padding:10px 0;text-align:right;}

.execactivity-portlet .questionFeedback{background:url("/wemoocdemo-theme/images/custom/icons/ico_informacion.png") no-repeat scroll 0 50% transparent;padding:10px 0 10px 30px;font:600 16px Nunito, Tahoma, Verdana;color:#2d2849;}

.execactivity-portlet .aui-button{clear:both;display:block;padding:10px 0 0;text-align:right;}

/* */
/* Encuestas */
.surveyactivity-portlet p{font-size:16px;}
.surveyactivity-portlet .question{font-size:16px;border-top:0 none;border-bottom:0 none;}
.surveyactivity-portlet .question .questiontext{padding:10px 0;margin:10px 0;border-top:1px solid #2d2849;border-bottom:1px solid #2d2849;font-weight:600;}
.surveyactivity-portlet .question .questiontext p{margin-bottom:0;}
.surveyactivity-portlet .question .answer{padding:5px 10px;}
.surveyactivity-portlet .question .answer input{margin-right:5px;}
.surveyactivity-portlet .aui-button-submit{display:block;padding:10px 0;text-align:right;}

.surveyactivity-portlet .aui-button{clear:both;display:block;padding:10px 0 0;text-align:right;}
.surveyactivity-portlet .aui-button .aui-button-input{font-size:16px;}
.surveyactivity-portlet .description{font-size:16px;}

/* */

/* Tipo tarea */
.p2ptaskactivity-portlet .sub-title{color:#00b5cb;font:600 16px Nunito, Tahoma, Verdana;}
.p2ptaskactivity-portlet .description{color:#000;font-size:16px;}
.p2ptaskactivity-portlet .steps{color:#00b5cb;margin:10px 0;padding:10px 0;border-top:1px solid #2d2849;border-bottom:1px solid #2d2849;font:600 16px Nunito, Tahoma, Verdana;}
.p2ptaskactivity-portlet .steps span{color:#00b5cb;}
.p2ptaskactivity-portlet .steps span.selected{color:#000;}
.p2ptaskactivity-portlet .steps span.clicable{cursor:pointer;}
.p2ptaskactivity-portlet .steps span.clicable:hover{color:#90d8e1;}
.p2ptaskactivity-portlet .container-textarea{padding:5px 0 10px;}
.p2ptaskactivity-portlet .container-textarea textarea{width:97%;}
.p2ptaskactivity-portlet .container-file{border:#00b5cc solid 1px;padding:8px;margin-bottom:10px;font-size:16px;color:#00b5cc;font-weight:600;}
.p2ptaskactivity-portlet .container-file label{display:none;}
.p2ptaskactivity-portlet .container-file input{font-size:16px;font-weight:300;}

.p2ptaskactivity-portlet .option-more span.label-col{display:block;color:#00b5cc;font:600 13px Nunito, Tahoma;padding:5px 0 5px 25px;cursor:pointer;background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more.png") no-repeat 0 50%;}
.p2ptaskactivity-portlet .option-less span.label-col{display:block;color:#00b5cb;font:600 13px Nunito, Tahoma;padding:5px 0 5px 25px;cursor:pointer;background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_less.png") no-repeat 0 50%;}
.p2ptaskactivity-portlet span.label-col span.number{display:none}

.p2ptaskactivity-portlet .option-more .collapsable span{color:#000;padding:5px 0;background:none;}
.p2ptaskactivity-portlet .option-less .collapsable span{color:#000;padding:5px 0;background:none;}

.p2ptaskactivity-portlet .doc_descarga{clear:both;display:block;overflow:hidden;background: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_doc.png") no-repeat 0 50%;padding:5px 0 5px 25px;}
.p2ptaskactivity-portlet .doc_descarga span{float:left;color:#00b5cb;display:block;font:600 16px Nunito, Tahoma, Verdana;padding:5px 0;}
.p2ptaskactivity-portlet .doc_descarga a.verMas{float:left;text-align:left;display:block;font:600 16px Nunito, Tahoma, Verdana;padding:5px 25px 5px 0;background: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") 100% 50% no-repeat;}
.p2ptaskactivity-portlet a.verMas{display:block;font:600 16px Nunito, Tahoma, Verdana;padding:5px 25px 5px 0;background: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") 100% 50% no-repeat;}

.p2ptaskactivity-portlet li{list-style-image: url("/wemoocdemo-theme/images/custom/webcontent/bullet.png"); margin: 0 20px 10px;}

/* */


/* lms navegacion */

.activitynavigator-portlet{clear:both;overflow:hidden;display:block;margin-top:10px;padding:10px 0;border-top:1px solid #2d2849;}

#previusactivity{float:left;}
#previusactivity a{font-size:16px;font-weight:600;padding:5px 5px 5px 15px;background:url("/wemoocdemo-theme/images/custom/icons/arrow_left.png") no-repeat scroll 0 50% transparent;}
#previusactivity span{font-size:16px;font-weight:600;padding:5px 5px 5px 15px;background:url("/wemoocdemo-theme/images/custom/icons/arrow_left_off.png") no-repeat scroll 0 50% transparent;color:#b4b4b4;}
#nextactivity{float:right;}
#nextactivity a{font-size:16px;font-weight:600;padding:5px 15px 5px 5px;background:url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat scroll 100% 50% transparent;}
#nextactivity span{font-size:16px;font-weight:600;padding:5px 15px 5px 5px;background:url("/wemoocdemo-theme/images/custom/icons/arrow_right_off.png") no-repeat scroll 100% 50% transparent;color:#b4b4b4;}

#startactivity{float:right;}
#startactivity a{font-size:16px;font-weight:600;padding:5px 20px;background:#e4701e url("/wemoocdemo-theme/images/custom/bg_buttom2.jpg") repeat-x top left;border:#f3e7cc solid 1px;color: #FFFFFF;text-shadow: none;}

.activitynavigator-portlet #modulegreetings{text-align:center;font-size:16px;font-weight:600;color:#00b5cc;padding:10px;background:url("/wemoocdemo-theme/images/custom/webcontent/bg_modulegreetings.png") no-repeat 50% 50%}

/* */

/* Cambio de navegación */
.changeeditingmode-portlet .portlet-content a{display:block;text-align:right;font-size:16px;font-weight:600;padding:5px 25px 5px 5px;background:url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat scroll 100% 50% transparent;}
.changeeditingmode-portlet{margin:0 0 10px;}
.changeeditingmode-portlet .aui-button-input{display:block;background:#e4701e;width:100%;padding:10px 0;font:300 16px Nunito;}
/* */

/* modulo portlet */
.module-portlet .lfr-search-container{padding:10px 0;}
.module-portlet .lfr-search-container .results-header{background:#f0f0f0;font-size:16px;}
.module-portlet .lfr-search-container .results-row{border-bottom:#2d2849 solid 1px;}
.module-portlet .lfr-search-container .results-row .col-1{font-size:16px;}
.module-portlet .lfr-search-container .results-row .col-2{width:60px;}
.module-portlet .lfr-search-container .results-row .col-2 span{float:left;}

.module-portlet .results-header{display:none;}
/* */

.moduledescription-portlet .taglib-discussion{font-size:16px;}
.moduledescription-portlet #moduleDescription ul{list-style-image: url("/wemoocdemo-theme/images/custom/webcontent/bullet.png"); margin: 0 20px 10px;}

.newitem .taglib-icon{font:300 16px Nunito;padding:10px 10px 10px 25px;display:block;background:#e4701e url("/wemoocdemo-theme/images/custom/icons/ico_more_white.png") no-repeat 10px 50%;color:#fff;@include border-radius(4px);}
.newitem .taglib-icon:hover{background:#fcb034 url("/wemoocdemo-theme/images/custom/icons/ico_more_white.png") no-repeat 10px 50%;}
.newitem .taglib-icon img.icon{display:none;}

/* iconos de fondo */
.bg-icon-ok{background: url("/wemoocdemo-theme/images/custom/icons/check-on.png") no-repeat 0 10px;padding-left:60px;}
.bg-icon-check{background: url("/wemoocdemo-theme/images/custom/icons/ico_vote_ok.png") no-repeat 0 10px;padding-left:60px;}
#simplemodal-container #p2pconfrmCorrec .bg-icon-ok{width:auto;}
#simplemodal-container #p2pconfrmCorrec .bg-icon-check{width:auto;}

#simplemodal-container{width:650px;height:400px;}
#simplemodal-container h1{padding-bottom:5px;margin-bottom:15px;border-bottom:1px solid #2d2849;}
#simplemodal-container .simplemodal-wrap{overflow: inherit!important;}
#simplemodal-container p{color:#000;font-size:1.4em;}
#simplemodal-container .label{font-weight: bold}
#simplemodal-container div.desc{font-size:1.4em;font-weight: bold}
#simplemodal-container .contDesc{clear:both;display:block;overflow:auto;height:230px;}
#simplemodal-container .buttons{text-align:center;padding-top:10px;}

/* Activity list */
ul.activity-list li img.icon{display:none;}
ul.activity-list li{list-style:none;width:32%;display:inline-block;padding:10px 0;}
ul.activity-list li a{display:block;padding-top: 90px;background:url(/wemoocdemo-theme/images/custom/icons/ico_activity_list.png) no-repeat center top;text-align:center;font:600 16px Nunito, Arial;}
ul.activity-list li.activity_0 a{background:url(/wemoocdemo-theme/images/custom/icons/ico_activity_prueba.png) no-repeat center top;}
ul.activity-list li.activity_2 a{background:url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_e.png) no-repeat center top;}
ul.activity-list li.activity_3 a{background:url(/wemoocdemo-theme/images/custom/icons/ico_activity_p2p.png) no-repeat center top;}
ul.activity-list li.activity_4 a{background:url(/wemoocdemo-theme/images/custom/icons/ico_activity_survey.png) no-repeat center top;}
ul.activity-list li.activity_5 a{background:url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_of.png) no-repeat center top;}
/* */