@import "compass";

// GENERAL
// --------------------------------------------------

$colorp01: #e4701e;
$colorp02: #b63b6a;
$colorp03: #e4701e;

$colors01: #37aebd;
$colors02: #45c3d3;

$fuente01: Nunito, Arial;
$fuente02: Arial;


$listStyleImage: url("/wemoocdemo-theme/images/custom/webcontent/bullet.png");

// LMS PORTLET
// --------------------------------------------------

$lmsTitleColor2: #e4701e;
$lmsTitleFont2: bold 18px Arial;

$lmsTreeColor1: #37aebd;
$lmsTreeFont1: bold 16px Nunito;
$lmsTreeColor2: #37aebd;

$lmsTreeAColor: #37aebd;
$lmsTreeAColorHover: #45c3d3;

$lmsTreeImportant: #e4701e;

$lmsTreeColorActivado: #37aebd;
$lmsTreeColorLocked: #464646;
$lmsTreeColorEditing: #37aebd;
$lmsTreeColorFailed: #464646;
$lmsTreeColorPassed: #37aebd;

$lmsTreeNoteFont: bold 16px 'Nunito';
$lmsTreeOptionLessBg: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_less.png") no-repeat 0 50%;
$lmsTreeOptionLessBgHover: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_less_hover.png") no-repeat 0 50%;
$lmsTreeOptionMoreBg: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more.png") no-repeat 0 50%;
$lmsTreeOptionMoreBgHover: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_more_hover.png") no-repeat 0 50%;
$lmsTreeNoteBg: url("/wemoocdemo-theme/images/custom/icons/ico_h2_up_blue.png") no-repeat 10px 50%;
$lmsTreeOptionOkBg: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_ok.png") no-repeat 0% 50%;
$lmsTreeOptionKoBg: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_ko.png") no-repeat 0% 50%;
$lmsTreeArrowRightBg: url("/wemoocdemo-theme/images/custom/icons/arrow_link.png") no-repeat 7px 50%;
$lmsTreeOptionLockBg: url("/wemoocdemo-theme/images/common/lock.png") no-repeat 0 50%;
$lmsIcoInfoModuleBg: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") 0 50% no-repeat;

$lmsIcoDocBg: url("/wemoocdemo-theme/images/custom/color_schemes/guest/comun/ico_doc.png") no-repeat 0 50%;
$lmsIcoSeeMoreBg: url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") 100% 50% no-repeat;

$lmsNewActivityColor: #fff;
$lmsNewActivityBgColor: #e4701e;
$lmsNewActivityBgColorHover: #fcb034;

$lmsPortletBody: #fff;

$lmsFormTitleColor: #e4701e;
$lmsFormTitleFont: bold 18px Arial;

$lmsModuleTitleColor: #e4701e;
$lmsModuleTitleBgColor: url("/wemoocdemo-theme/images/custom/arrow_buttom.png") no-repeat 0 50%;
$lmsModuleTitleFont: 600 18px "Nunito";

$lmsBodyBgColor: #fff;

$lmsQuestionBgColor: #f8f8f8;

$lmsFeedbackColor: #e4701e;
$lmsFeedbackBgColor: transparent url("/wemoocdemo-theme/images/custom/icons/ico_informacion.png") no-repeat 0 50%;
$lmsFeedbackFont: bold 12px Arial, Verdana;

$lmsP2pSubTitleColor: #37aebd;
$lmsP2pSubTitleFont: bold 14px Arial, Verdana;
$lmsP2pDescriptionColor: #2d2849;
$lmsP2pStepsColor: #37aebd;
$lmsP2pStepsSelectedColor: #2d2849;
$lmsP2pStepsHoverColor: #1ed1e7;
$lmsP2pStepsFont: bold 16px Arial, Verdana;

$lmsBorder: 1px solid #e3e3e3;

$lmsInputsBorder: 1px solid #d5d5d5;
$lmsInputsColor: #2d2849;
$lmsInputsBgColor: #fff;
$lmsInputsFont: 300 14px Arial;

$lmsFileBorder: #e4701e solid 1px;
$lmsFileFont: bold 14px Arial;
$lmsFileColor: #e4701e;

$lmsActivityTestQuestionBg: #f8f8f8;

$lmsAnswerIncorrect: transparent url("/wemoocdemo-theme/images/custom/icons/ico_lms_incorrect.png") no-repeat 95% 50%;
$lmsAnswerCorrect: transparent url("/wemoocdemo-theme/images/custom/icons/ico_lms_correct.png") no-repeat 95% 50%;

$lmsActivityScormTreeFont: 300 12px Nunito;
$lmsActivityScormTreeBorder: 1px solid #d5d5d5;
$lmsActivityScormTreeBg: #fff;
$lmsActivityScormTreeBg2: #fff;
$lmsActivityScormBarBg: #fff;
$lmsActivityScormNavBg: #fff;
$lmsActivityScormNavBorder: 1px solid #d5d5d5;
$lmsActivityScormNavFont: bold 16px Nunito;
$lmsActivityScormNavColor: #37aebd;
$lmsActivityScormNavColorHover: #b63b6a;
$lmsActivityScormPrevBg: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_left_2.png") no-repeat 0 50%;
$lmsActivityScormPrevBgHover: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_left_2_off.png") no-repeat 0 50%;
$lmsActivityScormNextBg: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_right_2.png") no-repeat 100% 50%;
$lmsActivityScormNextBgHover: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_right_2_off.png") no-repeat 100% 50%;

$lmsFeedbackBg: transparent ("/wemoocdemo-theme/images/custom/icons/ico_informacion.png") no-repeat 0 50%;
$lmsFeedbackFont: bold 14px Arial;
$lmsFeedbackColor: #e4701e;

$lmsNavigatorPagesBgColor: #f8f8f8;
$lmsNavigatorProgressBgColor: #e4701e;
$lmsNavigatorProgressBgColor2: #fcb034;

$lmsNavActivityFont: bold 16px 'Nunito';
$lmsNavActivityDesColor: #b4b4b4;
$lmsNavActivityPrevBg: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_left.png") no-repeat 0 50%;
$lmsNavActivityPrevBgHover: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_left_off.png") no-repeat 0 50%;
$lmsNavActivityNextBg: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_right.png") no-repeat scroll 100% 50%;
$lmsNavActivityNextBgHover: transparent url("/wemoocdemo-theme/images/custom/icons/arrow_right_off.png") no-repeat scroll 100% 50%;

$lmsMsgFinishFont: bold 16px Nunito;
$lmsMsgFinishColor: #e4701e;

$lmsActivityListFont: bold 16px Arial;
$lmsActivityListIcoGBg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_list.png) no-repeat center top;
$lmsActivityListIco0Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_prueba.png);
$lmsActivityListIco2Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_e.png);
$lmsActivityListIco3Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_p2p.png);
$lmsActivityListIco4Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_survey.png);
$lmsActivityListIco5Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_of.png);
$lmsActivityListIco6Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_on.png);
$lmsActivityListIco7Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_i.png);
$lmsActivityListIco8Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_evaluation.png);
$lmsActivityListIco9Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_scorm.png);

$lmsActivityListIcoMGBg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_list_m.png) no-repeat left top;
$lmsActivityListIcoM0Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_prueba_m.png);
$lmsActivityListIcoM2Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_e_m.png);
$lmsActivityListIcoM3Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_p2p_m.png);
$lmsActivityListIcoM4Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_survey_m.png);
$lmsActivityListIcoM5Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_of_m.png);
$lmsActivityListIcoM6Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_test_on_m.png);
$lmsActivityListIcoM7Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_resource_i_m.png);
$lmsActivityListIcoM8Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_evaluation_m.png);
$lmsActivityListIcoM9Bg: url(/wemoocdemo-theme/images/custom/icons/ico_activity_scorm_m.png);

$lmsActivityListIcoP0Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP2Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP3Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP4Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP5Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP6Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP7Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP8Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;
$lmsActivityListIcoP9Bg: url(/wemoocdemo-theme/images/custom/icons/ico_agenda_actividad_p.png) no-repeat 5px 50%;